@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;900&family=Roboto:wght@300;400;500;900&display=swap");

$background1: #e6eff7;
$primaryColor: #0b5775;
$fontColor: #292d32;
$bigFontColor: #404346;
$fontFamily: "Roboto", sans-serif;
