@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;900&family=Roboto:wght@300;400;500;900&display=swap");

@import "reset";
@import "variables";
@import "colors";
@import "mixins";
@import "screensize";
@import "dashboard";
@import "layouts";
@import "typos";
@import "table";
@import "buttons";
@import "navbar";
@import "sidebar";
@import "markdown";
@import "post_page";
@import "posts";
@import "pharmacist";
@import "footer";
@import "books_list";
@import "footer";
@import "modal";
@import "form";
@import "wrappers";
@import "addAgent";
@import "agentsList";

:root {
  --fontFamily: "Roboto", sans-serif;
  /* --fontFamily: "Space Grotesk, sans-serif", */
}

body {
  font-family: var(--fontFamily);
}

.none {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
      rgba(9, 106, 163, 0.391),
      rgba(2, 4, 14, 0.358)
    ),
    url(../public/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .textArea {
    background-color: rgba(0, 0, 0, 0.598);
    margin: 0 auto;
    padding: 40px 40px;
    color: #fff;
    max-width: 35vw;
    p {
      padding: 15px 0;
      line-height: 2.3rem;
      font-weight: 400;
    }
  }
  .comp {
    padding-left: 20vw;
    @include mobileSS {
      padding-left: 0;
    }
  }
}

.specificLGA {
  padding-left: 20vw;
  @include mobileSS {
    padding-left: 0;
  }
  h2 {
    font-weight: 300;
    padding-top: 30px;
  }
}

.formsPage {
  padding-left: 20vw;
  @include mobileSS {
    padding-left: 0;
  }

  .h2 {
    font-weight: lighter;
    font-size: small;
  }
}

.red {
  color: rgb(195, 8, 8);
}

.green {
  color: rgb(6, 138, 23);
}

.icon {
  font-size: medium;
}
